.c1{
    padding: 70px;
  border: 1px dotted blue;
  border: 5px double blanchedalmond;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;
  background-color: lightblue;
}