
.sign_up{
margin-top: 100px;
margin-bottom: 100px;
margin-right: 500px;
margin-left: 750px;
 
}

div.email{

   
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 500px;
    margin-left: 500px;
   
}





.sign_in{
    margin-top: 20px;
    margin-bottom: 30px;
    margin-right: 500px;
    margin-left: 550px;
}